{% extends 'base.html' %}
{% load static %} 
{% block title %}Django Delights{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="menu-container">
    <h2>Menu</h2>
    <p><a href="{% url 'add_menu_item' %}">Add New Item to Menu</a></p>
    <p><a href="{% url 'add_recipe_requirement' %}">Add Recipe Requirement for an Existing Menu Item</a></p>
    <hr/>
   
    {% for menu_item in object_list %}
    <div class="menu-items">
                <div class="menu-item-title">{{ menu_item.title|ljust:"50" }}</div>
                <div class="menu-item-price">${{ menu_item.price|stringformat:".2f" }}</div>
            </div>
           
                {% for recipe_requirement in menu_item.reciperequirement_set.all %}
                <div class="menu-ingredients">
                <div>{{ recipe_requirement.quantity }} </div>
                <div>{{recipe_requirement.ingredient.unit }} </div>
                <div>{{ recipe_requirement.ingredient.name }}</div>
                </div>
                {% endfor %}
            
        
    {% endfor %}
    
</div>
{% endblock %}