{% extends 'base.html' %}
{% load static %} 
{% block head %}
{% endblock %}
{% block content %}
<div class="container-purchase home">
    <h2>Purchases</h2>
    <a href="{% url 'add_purchase' %}">Record New Purchase</a>
    <hr/>
    <div class="inventory-table-2">
        
                <div>Menu Item</div>
                <div>Price</div>
                <div>Time</div>
    </div>
    
        {% for purchase in object_list %}
            <div class="purchase">
                <div>{{ purchase.menu_item.title }}</div>
                <div class="price">${{ purchase.menu_item.price|stringformat:".2f" }}</div>
                <div>{{ purchase.timestamp }}</div>
            </div>
        {% endfor %}

    </div>
{% endblock %}