*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    
}

body{
    font-family: 'Times New Roman', Times, serif;
    color:#373438;
    font-size:1em;
    line-height:1.6;
    font-weight: 300;
    background-color: #fffef8;
}


.grid{
    position:fixed;
    left:50%;
    top:0%;
    right:0%;
    bottom:0%;
    z-index: -1;
    display: flex;
    width: 90%;
    max-width: 1248px;
    border-right: 1px solid #f6f3ed;
    border-left: 1px solid #f6f3ed;
    transform: translate(-50%, 0px);
}

.grid__line{
    width:14.286%;
    border-right:1px solid #f6f3ed;
}

.grid__line:last-of-type{
    border:none;
}


.header-first-row{
    position:relative;
    display:flex;
    width:90%;
    max-width: 1248px;
    margin:0 auto 4em;
    justify-content: space-between;
    align-items: center;
    font-size: 1.0625rem;
    line-height:1.6;
    background-color: #F5F0BB;
    padding-top:4%;
}

.title{
    border:1px none #000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#373438;
    font-size:1.5rem;
    line-height:1.2;
}

a{
    transition:all 0.4s ease;
    position:relative;
    text-decoration: none;
    background-color:transparent;
}
a {
	transition: all 0.4s ease;
}
a:active, a:hover {
	outline: 0;
}
a:hover,
a:focus {
	color: #E50663;
}
a:focus,
a:active {
	outline: none;
	background: rgba(46, 188, 255, 0.65);
	color: #373438;
}

.navbar{
    min-width:42.75%;
    display:flex;
}
.nav-menu{
    display:flex;
    width:50%;
    height:auto;
    margin:auto;
    padding-left:0px;
    flex-direction:row;
    font-size:1.125em;
    list-style-type: none;
    justify-content: space-around;
    background-color:#FBF8F1;

    
   
}

ul{
    margin-top:0;
}

nav-item{
    width:10%;
    margin-bottom:0em;
  
}

nav-link{
    position:relative;
    margin-right:20px;
    border-bottom-style:none;
   
}

header{
    width:100%;
    height:auto;
    top:-50px;
    background-color: #F5F0BB;
    

}

a{
    color:seashell
}

.nav-item a{
    color:black;
    font-size: 1.2em;

}

.nav-item a:hover{
    background-color:#ECB390;
    color:#100720;
}

.title{
    font-family: 'Lobster', cursive;
}

.logout{
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    font-size:18px;
    border:2px solid darkgray;
    background:rgba(46, 188, 255, 1);
    border-radius:10px;
    color:darkslategray;
    padding:5px;
  
}

a.logout:hover{
    background-color:blanchedalmond;
}

header p{
    color:black;
    font-size:1.5em;
    text-align:center;
    background-color:#F5DF99;
    width:30%;
    margin:5% auto;
    border-bottom: 2px solid rosybrown;
}

.home{
    background-color: #FBB454;
    padding-top:3%;
}

.home h2{
    text-align:center;
}

.ing-list .add-link{
    color:#2C3333;
    background-color: #f5df99;

}

.home a{
    color:#100720;
    font-weight: bolder;
    background-color: #ECB390;
    margin-bottom:10px;
}

.home a:hover{
    color:blue;
}

.ing-list{
    background-color: #FBB454;
    padding-top:3%;
    text-align: center;
}

.ing-list h2{
    text-align:center;
}

.inventory-table{
    padding-top:2%;
    display:grid;
    width:60%;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin:auto;
    column-gap:20px;
    font-size:1.2em;
    font-weight:bold;
    padding-bottom:1%;
    
    

}

.inventory{
    display:grid;
    width:60%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:auto;
    column-gap:20px;
    font-size:1em;
    color:#2C3333;
    justify-content: center;
    grid-auto-flow: row;
    padding-bottom:2%;
    
}



.container-purchase{
    text-align: center;
    padding-top:3%;
}

.inventory-table-2{
    padding-top:2%;
    display:grid;
    width:60%;
    grid-template-columns:1fr 1fr 1fr;
    margin:auto;
    column-gap:20px;
    font-size:1.2em;
    font-weight:bold;
    padding-bottom:2%;
    
}

.purchase{
    display:grid;
    width:60%;
    grid-template-columns: 1fr 1fr 1fr;
    margin:auto;
    column-gap:20px;
    font-size:1em;
    color:#2C3333;
    justify-content: center;
    
    padding-bottom:2%;
    
}

.container-menu{
    text-align: center;
    padding-top:3%;
    padding-bottom:1%;
}

.container-menu > *{
    padding:5px;
    margin-bottom:5px;
} 

.container-menu h2{
    padding-bottom:2%;
}

.menu-items{
    padding-top:2%;
    display:grid;
    width:60%;
    grid-template-columns: 1fr 1fr;
    margin:auto;
    column-gap:20px;
    font-size:1em;
    justify-content: space-around;
    padding-bottom:2%;
    color:#222831;
    background-color: #f5df99;
    font-size:larger;
    font-weight: bolder;
    border-radius:50px;

}



.menu-ingredients{
    padding-top:2%;
    display:grid;
    width:30%;
    grid-template-columns: 1fr 1fr 1fr;
    margin:auto;
    column-gap:20px;
    font-size:1em;
    color:#2C3333;
    justify-content: center;
    grid-auto-flow: row;
    
    padding-bottom:2%;
    color:#2C3333;
    background-color: #f5f0bb;

}

.menu-container{
    background-color: #FBB454;
    padding-top:3%;
}

.menu-container h2, p{
    text-align:center;
}

.menu-container a{
    color:#2C3333;
    background-color: #f5df99;

}

.menu-container{
    text-align: center;
    padding-top:3%;
    padding-bottom:1%;
}

.insider-links{
    background-color: #FBB454;
    padding-top:3%;
    text-align: center;
    width:100%;
    height:100%;
display:block;
padding-bottom:16%;
font-size:1.5em;

}

.form-data{
    padding:20px;
    margin:10px;
    
}

input.submit{
    width:100px;
    height:50px;
    background-color:#f5f0bb;
    border:2px solid rgba(46, 188, 255, 0.65);
    border-radius:20px;
}

input.submit:hover{
    background-color:#E50663;
    cursor:pointer;
}

@media only screen and (max-width:768px){
    .nav-menu{
      display:flex;
      flex-direction: column;
      background-color: #f5df99;
      left:0;
      text-align: center;
    }

    .menu-ingredients{
        column-gap:5px;
        width:100%;
    }

    .purchase{
        width:100%;
        column-gap:5px;
        margin:auto;
    }
}





